---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Hi，我是 Yuki，目前主要在資訊安全與網路基礎設施中學習，對於新事物充滿好奇，喜歡獨自旅遊與運動。
		
	</p>

	<h1 class="title">學歷</h1>
	<h2> NYUST CSIE 國立雲林科技大學 資訊工程系 </h2>
	<p>
		2024/9 ~ Now
	</p>
</Layout>

